/* Web2Risk - https://coolors.co/fddb00-ffffff-568ea3-68c3d4-313638 */

/* CSS HEX */
:root {
--school-bus-yellow: #fddb00ff;
--white: #ffffffff;
--air-force-blue: #568ea3ff;
--sky-blue: #68c3d4ff;
--onyx: #313638ff;

}



